.navbar-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end; /* Changed to flex-end for right alignment */
    font-size: 18px; /* Adjusted font size */
    gap: 20px; /* Reduced the gap between items */
    padding-right: 5%; /* Adjusted padding */
}

.nav {
    font-size: 25px; /* Adjusted font size */
}
